<!DOCTYPE html>
<html>
  <head>
    
      <title>Naziv</title>
      <link rel="stylesheet" type="text/css" href="./css/main.css">
      <link rel="stylesheet" type="text/css" href="./css/tether.min.css">
      <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">

  </head>

  <body ng-app="myApp">

    <!-- Template Landmarks -->
    <div class="template_landmarks">
        <template-landmarks title="YouSCADA"> </template-landmarks>
    </div>
    <!-- TestData -->
    <div class="page-wrap">
      <!-- Dugmici -->
      <div ng-controller="drugi" class='container glavni'>
          <opcija list="todo" class="elements"></opcija>
      </div>

      <div ng-controller="main" class='glavni'>
          <my-todo list="todo" title="Angular To-do" class="elements"></my-todo>
      
      </div>

    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Telecom 2016</p>
        </div>
    </footer>

    <script src="./js/tether.min.js"></script>
    <script src="./scripts/jquery/jquery.js" ></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./scripts/angular/angular.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>